.cart-item {
    // border: 2px solid red;
    height: 150px;
    display: flex;
    margin-top: 10px;
    justify-content: space-between;

    .item-img {
        width: 100px;
        height: 120px;
        margin-left: 20px;

        img {
            width: 100%;
            height: 100%;
            // border: 2px solid gray;
        }
    }

    .product-info {
        // border: 2px solid teal;
        // text-align: center;
        // margin: auto;

        .quantity-box {
            align-items: center;
            justify-content: center;
            display: flex;
            margin-top: 10px;
            margin-bottom: 10px;
            // border: 2px solid rgb(185, 175, 35);
            width: 130px;
            height: 40px;
            // margin-bottom: 30px;
            display: flex;
            justify-content: space-around;
            align-items: center;

            span {
                width: 100%;
                height: 100%;
                background-color: rgb(75, 35, 185);
                color: white;
                font-size: 20px;
            }

            .add {
                border-top-right-radius: 5px;
                border-bottom-right-radius: 5px;
                border: 1px solid rgb(75, 35, 185);
                font-weight: bold;
            }

            .remove {
                border-top-left-radius: 5px;
                border-bottom-left-radius: 5px;
                border: 1px solid rgb(75, 35, 185);
                font-weight: bold;
            }

            .quantity {
                background-color: #fff;
                border: 1px solid rgb(75, 35, 185);
                color: black;
            }

        }
    }

    .close-btn {
        margin-right: 10px;
    }
}