.product {
    // border: 2px solid red;
    width: 70%;
    margin-top: 13px;
    margin-bottom: 15px;

    .product-container {
        padding: 10px;
        border: 1px solid rgba($color: #000000, $alpha: 0.1);
        cursor: pointer;
        width: 100%;


        .img-container {
            .product-img {
                width: 100%;
                height: 300px;
                border-radius: 5px;
                box-shadow: 0 5px 5px gray;
            }
        }

        .product-info {
            // border: 2px solid blueviolet;
            display: flex;
            justify-content: center;
            flex-direction: column;
            // padding: 9px;
            align-items: center;
            margin-top: 5px;
            font-size: 18px;

            p {
                margin: 5px;
            }
        }
    }
}